@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
html {
  font-size: 1.3vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  font-size: 1.3vw;
}

section {
  padding: 6rem 0;
}

a {
  color: #2563eb;
}

a:visited {
  color: #2563eb;
}

.textbox {
  background: #fff;
  border: 3px solid #000;
  padding: 2rem;
  max-width: 50vw;
  box-shadow: 15px 15px 0px 0px #000;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.textbox ul {
  list-style-position: inside;
}
.textbox .highlight {
  color: #f97316;
  font-weight: 600;
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(rgb(212, 212, 212), rgb(238, 238, 238));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.main-nav {
  display: flex;
  gap: 4rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}
.main-nav .menu-mobile-icon,
.main-nav .close-menu-mobile {
  display: none;
}
.main-nav .logo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #000;
}
.main-nav .logo .show-on-hover {
  display: none;
}
.main-nav .list-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}
.main-nav .list-links a,
.main-nav .list-links .btn-idiom {
  text-align: center;
  padding: 10px 15px;
  border: 3px solid #000;
  box-shadow: 5px 5px 0px 0px #000;
  text-decoration: none;
  width: 12vw;
  display: block;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
}
.main-nav .list-links a:hover,
.main-nav .list-links .btn-idiom:hover {
  box-shadow: 10px 10px 0px 0px #000;
  color: #2563eb;
  transform: translate(-5px, -5px);
}
.main-nav .list-links .btn-idiom {
  width: 5vw;
  cursor: pointer;
}
.main-nav .list-links .btn-idiom.en {
  background: linear-gradient(#2563eb, #dc2626);
  color: #fff;
}
.main-nav .list-links .btn-idiom.en:hover {
  color: #fff;
}
.main-nav .list-links .btn-idiom.pt {
  background: #05853a;
  color: #f1c40f;
}
.main-nav .list-links .btn-idiom.pt:hover {
  color: #f1c40f;
}
.main-nav .list-links .btn-idiom:hover {
  box-shadow: 10px 10px 0px 0px #000;
  transform: translate(-5px, -5px);
}
.main-nav .list-links .btn-idiom::after {
  content: "➤";
  margin-left: 10px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-x-laranja.svg") no-repeat center center/cover, #f97316;
  background-size: 91%;
}
#about .title-holder {
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 0 25vw;
  margin-bottom: -0.75rem;
  margin-left: 4rem;
}
#about h1 {
  border: 3px solid #000;
  font-size: 5rem;
  background: #fff;
  padding: 0.5rem 1rem 0rem;
  line-height: 5rem;
  animation: float 3s ease-in-out infinite;
}

#experiences {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #fff 60%, rgba(255, 255, 255, 0) 100%), url("../img/bg-difuse-pattern.svg") repeat-x bottom center;
  background-size: 30%;
}
#experiences .title-holder {
  z-index: 2;
  margin-right: -2rem;
}
#experiences h1 {
  border: 3px solid #000;
  font-size: 2rem;
  background: #fff;
  padding: 1rem 2rem;
  width: 18rem;
  color: #f97316;
  margin-top: 5rem;
  animation: float 3s ease-in-out infinite;
}
#experiences h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #ce1b7c;
}
#experiences ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#experiences .textbox {
  padding-left: 5rem;
}

#projects {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: url("../img/bg-x-rosa.svg") no-repeat center center/cover, #ce1b7c;
  background-size: 91%;
}
#projects h1 {
  color: #ce1b7c;
  width: -moz-fit-content;
  width: fit-content;
}
#projects h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ce1b7c;
}
#projects h2 {
  font-size: 1rem;
  color: #2563eb;
}
#projects .icon-holder {
  margin-left: -2rem;
  z-index: 2;
}
#projects .icon-holder .icon {
  border: 3px solid #000;
  color: #ce1b7c;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 1.5rem;
  background: #fff;
  margin-top: 2rem;
  display: block;
  padding-left: 1.25rem;
  animation: float 3s ease-in-out infinite;
}
#projects ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#skills {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}
#skills .title-holder {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
#skills .title-holder p {
  font-weight: 600;
}
#skills .title-holder h1 {
  border: 3px solid #000;
  font-size: 2rem;
  background: #fff;
  padding: 1rem 2rem;
  width: 18rem;
  color: #ce1b7c;
  animation: float 5s ease-in-out infinite;
}
#skills .skill-list {
  display: flex;
  gap: 2vw;
  list-style: none;
  list-style-position: inside;
  flex-wrap: wrap;
  padding: 0 10vw;
  justify-content: center;
}
#skills .skill-list li {
  width: 30vh;
  border: 3px solid #000;
  text-align: center;
  padding: 0.5vw 0;
  box-shadow: 10px 10px 0px 0px #000;
  background: #fff;
}
#skills .skill-list .low {
  animation: pulse-low 5s ease-in-out infinite;
}
#skills .skill-list .medium {
  animation: pulse-medium 5s ease-in-out infinite;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #2563eb;
  color: #fff;
}
#contact h1 {
  color: #2ecc71;
  font-size: 5rem;
  line-height: 5rem;
}
#contact h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #2ecc71;
}
#contact p {
  font-weight: bold;
}
#contact .contact-button-holder {
  display: flex;
  gap: 1.5rem;
}
#contact .textbox {
  width: 22.5rem;
  transition: 0.3s ease-in-out all;
}
#contact .textbox:hover {
  box-shadow: 20px 20px 0px 0px #000;
  transform: translate(-5px, -5px);
  color: #2563eb;
}
#contact .textbox h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
#contact .textbox a {
  text-decoration: none;
  color: #000;
}
#contact .subtitle {
  text-align: center;
}

footer {
  background: #fff;
  padding: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}

@keyframes float {
  0% {
    box-shadow: 15px 15px 0px 0px #000;
    transform: translatey(0px);
  }
  50% {
    box-shadow: 25px 25px 0px 0px #000;
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 15px 15px 0px 0px #000;
    transform: translatey(0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse-low {
  0% {
    font-weight: 400;
    color: #f97316;
  }
  50% {
    font-weight: 600;
    color: #943e01;
  }
  100% {
    font-weight: 400;
    color: #f97316;
  }
}
@keyframes pulse-medium {
  0% {
    font-weight: 400;
    color: #2ecc71;
  }
  50% {
    font-weight: 600;
    color: #05853a;
  }
  100% {
    font-weight: 400;
    color: #2ecc71;
  }
}
@media only screen and (max-width: 1280px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 4rem 0;
    scroll-margin-top: 60px;
  }
  .textbox {
    width: 600px;
    max-width: 600px;
  }
  .main-nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .main-nav .list-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateX(100vw);
    transition: 0.4s ease-out transform;
  }
  .main-nav .list-links.show-mobile {
    transform: translateX(0vw);
  }
  .main-nav .list-links a {
    width: 50vw;
    font-size: 2rem;
    box-shadow: 15px 15px 0 0 #000;
  }
  .main-nav .menu-mobile-icon {
    display: inherit;
  }
  .main-nav .menu-mobile-icon img {
    max-width: 50px;
  }
  .main-nav .close-menu-mobile {
    display: inherit;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .main-nav .logo {
    font-size: 2rem;
  }
  .main-nav .logo .show-on-hover {
    display: inline;
    font-weight: 400;
  }
  #about {
    padding-top: 162px;
    display: flex;
    justify-content: center;
    background-position: bottom center;
    background-size: 100%;
  }
  #about .title-holder {
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }
  #experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #experiences .title-holder {
    margin-right: 0;
    margin-bottom: -14px;
  }
  #experiences .title-holder h1 {
    margin-top: 0;
    width: auto;
  }
  #experiences .textbox {
    padding-left: 2rem;
  }
  #projects {
    flex-direction: column;
    align-items: center;
    background-position: bottom center;
    background-size: 100%;
  }
  #projects .icon-holder {
    margin-left: 0;
  }
  #projects .icon-holder .icon {
    margin-top: 0;
    margin-bottom: -15px;
  }
  #contact h1 {
    line-height: initial;
  }
  #contact .contact-button-holder {
    flex-direction: column;
    gap: 32px;
  }
  #contact .textbox {
    font-size: inherit;
    width: 40vw;
  }
  footer {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 5vw;
  }
  section {
    padding: 10vw 3vw 10vw 2vw;
    scroll-margin-top: 16vw;
  }
  .textbox {
    width: 90vw;
    max-width: 90vw;
    font-size: 5vw;
    padding: 8vw;
  }
  .main-nav .list-links a {
    font-size: 5vw;
    color: #2563eb;
  }
  .main-nav .menu-mobile-icon img {
    max-width: 8vw;
  }
  .main-nav .close-menu-mobile img {
    max-width: 8vw;
  }
  .main-nav .logo {
    font-size: 6vw;
  }
  .main-nav .logo .show-on-hover {
    display: inline;
    font-weight: 400;
  }
  #about {
    padding-top: 25vw;
  }
  #about .title-holder {
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }
  #about .title-holder h1 {
    font-size: 10vw;
    padding: 5vw;
    line-height: 5vw;
  }
  #experiences .title-holder {
    margin-right: 0;
    margin-bottom: -2vw;
  }
  #experiences .title-holder h1 {
    font-size: 6vw;
    padding: 2vw 4vw;
  }
  #experiences .textbox {
    padding: 8vw;
  }
  #experiences h2 {
    font-size: 5vw;
  }
  #experiences p {
    font-size: 5vw;
  }
  #experiences ul {
    gap: 4vw;
  }
  #projects {
    flex-direction: column;
    align-items: center;
    background-position: bottom center;
    background-size: 100%;
  }
  #projects .icon-holder {
    margin-left: 0;
  }
  #projects .icon-holder .icon {
    font-size: 15vw;
    margin-top: 0;
    margin-bottom: -2vw;
    letter-spacing: 0px;
    padding-right: 5vw;
    padding-left: 5vw;
    text-align: center;
  }
  #projects h1 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 5vw;
  }
  #projects h2 {
    font-size: 5vw;
  }
  #projects ul {
    gap: 4vw;
  }
  #skills {
    gap: 6vw;
  }
  #skills .title-holder {
    gap: 10vw;
    text-align: center;
  }
  #skills .title-holder h1 {
    font-size: 6vw;
    width: auto;
    padding: 3vw 6vw;
  }
  #skills .skill-list {
    gap: 5vw;
    padding: 0;
    width: 100%;
  }
  #skills .skill-list li {
    width: 45%;
  }
  #contact {
    gap: 8vw;
  }
  #contact h1 {
    font-size: 10vw;
  }
  #contact .contact-button-holder {
    flex-direction: column;
    gap: 6vw;
  }
  #contact .textbox {
    width: 100%;
    padding: 2vw 5vw;
  }
  #contact .textbox h2 {
    font-size: 5vw;
    text-align: center;
    color: #2563eb;
  }
  #contact .textbox span {
    display: none;
  }
  footer {
    font-size: 4vw;
  }
}
.btn {
  color: #2563eb;
}/*# sourceMappingURL=style.css.map */