@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

// var

$preto: #000;
$azul: #2563eb;
$laranja: #f97316;
$laranja-escuro: #943e01;
$branco: #fff;
$rosa: #ce1b7c;
$verde: #2ecc71;
$verde-escuro: #05853a;
$text-font-size: 1.3vw;

// default config
html {
  font-size: $text-font-size;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  font-size: $text-font-size;
}

section {
  padding: 6rem 0;
}

// default components
.textbox {
  background: $branco;
  border: 3px solid $preto;
  padding: 2rem;
  max-width: 50vw;
  -webkit-box-shadow: 15px 15px 0px 0px $preto;
  -moz-box-shadow: 15px 15px 0px 0px $preto;
  box-shadow: 15px 15px 0px 0px $preto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    list-style-position: inside;
  }

  .highlight {
    color: $laranja;
    font-weight: 600;
  }
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(rgb(212, 212, 212), rgb(238, 238, 238));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.main-nav {
  display: flex;
  gap: 4rem;
  height: 6rem;
  justify-content: center;
  align-items: center;

  .menu-mobile-icon,
  .close-menu-mobile {
    display: none;
  }

  .logo {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: $preto;

    .show-on-hover {
      display: none;
    }
  }
  .list-links {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    a {
      text-align: center;
      padding: 10px 15px;
      border: 3px solid $preto;
      -webkit-box-shadow: 5px 5px 0px 0px $preto;
      -moz-box-shadow: 5px 5px 0px 0px $preto;
      box-shadow: 5px 5px 0px 0px $preto;
      text-decoration: none;
      width: 15vw;
      display: block;
      transition: 0.3s ease-in-out;
      font-size: 1rem;
      color: $preto;
      font-weight: 600;

      &:hover {
        -webkit-box-shadow: 10px 10px 0px 0px $preto;
        -moz-box-shadow: 10px 10px 0px 0px $preto;
        box-shadow: 10px 10px 0px 0px $preto;
        color: $azul;
        transform: translate(-5px, -5px);
      }
    }
  }
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-x-laranja.svg") no-repeat center center/cover,
    $laranja;
  background-size: 91%;

  .title-holder {
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 0 25vw;
    margin-bottom: -0.75rem;
    margin-left: 4rem;
  }

  h1 {
    border: 3px solid $preto;
    font-size: 5rem;
    background: $branco;
    padding: 0.5rem 1rem 0rem;
    line-height: 5rem;
    animation: float 3s ease-in-out infinite;
  }
}

#experiencia {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #fff 60%, rgba(255, 255, 255, 0) 100%),
    url("../img/bg-difuse-pattern.svg") repeat-x bottom center;
  background-size: 30%;

  .title-holder {
    z-index: 2;
    margin-right: -2rem;
  }

  h1 {
    border: 3px solid $preto;
    font-size: 2rem;
    background: $branco;
    padding: 1rem 2rem;
    width: 18rem;
    color: $laranja;
    margin-top: 5rem;
    animation: float 3s ease-in-out infinite;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $rosa;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .textbox {
    padding-left: 5rem;
  }
}

#projetos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: url("../img/bg-x-rosa.svg") no-repeat center center/cover, $rosa;
  background-size: 91%;

  h1 {
    color: $rosa;
    width: fit-content;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: $rosa;
    }
  }

  h2 {
    font-size: 1rem;
    color: $azul;
  }

  .icon-holder {
    margin-left: -2rem;
    z-index: 2;
    .icon {
      border: 3px solid $preto;
      color: $rosa;
      font-weight: bold;
      font-size: 5rem;
      letter-spacing: 1.5rem;
      background: $branco;
      margin-top: 2rem;
      display: block;
      padding-left: 1.25rem;
      animation: float 3s ease-in-out infinite;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

#habilidades {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;

  .title-holder {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 600;
    }
    h1 {
      border: 3px solid $preto;
      font-size: 2rem;
      background: $branco;
      padding: 1rem 2rem;
      width: 18rem;
      color: $rosa;
      animation: float 5s ease-in-out infinite;
    }
  }
  
  .skill-list {
    display: flex;
    gap: 2vw;
    list-style: none;
    list-style-position: inside;
    flex-wrap: wrap;
    padding: 0 10vw;
    justify-content: center;
    
    li {
      width: 30vh;
      border: 3px solid $preto;
      text-align: center;
      padding: 0.5vw 0;
      -webkit-box-shadow: 10px 10px 0px 0px $preto;
      -moz-box-shadow: 10px 10px 0px 0px $preto;
      box-shadow: 10px 10px 0px 0px $preto;
      background: $branco;
    }
    
    .low {
      animation: pulse-low 5s ease-in-out infinite;
    }
    
    .medium {
      animation: pulse-medium 5s ease-in-out infinite;
    }
  }
}

#contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: $azul;
  color: #fff;
  
  h1 {
    color: $verde;
    font-size: 5rem;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: $verde;
    }
  }

  p {
    font-weight: bold;
  }

  .contact-button-holder {
    display: flex;
    gap: 1.5rem;
  }

  .textbox {
    width: 22.5rem;
    transition: 0.3s ease-in-out all;
    &:hover {
      -webkit-box-shadow: 20px 20px 0px 0px $preto;
      -moz-box-shadow: 20px 20px 0px 0px $preto;
      box-shadow: 20px 20px 0px 0px $preto;
      transform: translate(-5px, -5px);
      color: $azul;
    }
    h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }

  .subtitle {
    text-align: center;
  }
}

footer {
  background: $branco;
  padding: 2rem;
  font-weight: 600;
  color: $preto;
  text-align: center;
}

@keyframes float {
  0% {
    -webkit-box-shadow: 15px 15px 0px 0px $preto;
    -moz-box-shadow: 15px 15px 0px 0px $preto;
    box-shadow: 15px 15px 0px 0px $preto;
    transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 25px 25px 0px 0px $preto;
    -moz-box-shadow: 25px 25px 0px 0px $preto;
    box-shadow: 25px 25px 0px 0px $preto;
    transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 15px 15px 0px 0px $preto;
    -moz-box-shadow: 15px 15px 0px 0px $preto;
    box-shadow: 15px 15px 0px 0px $preto;
    transform: translatey(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse-low {
  0% {
    font-weight: 400;
    color: $laranja;
  }
  50% {
    font-weight: 600;
    color: $laranja-escuro;
  }
  100% {
    font-weight: 400;
    color: $laranja;
  }
}

@keyframes pulse-medium {
  0% {
    font-weight: 400;
    color: $verde;
  }
  50% {
    font-weight: 600;
    color: $verde-escuro;
  }
  100% {
    font-weight: 400;
    color: $verde;
  }
}

@media only screen and (max-width: 1280px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 4rem 0;
    scroll-margin-top: 60px;
  }

  .textbox {
    width: 600px;
    max-width: 600px;
  }

  .main-nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .list-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      background: #fff;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 20;
      align-items: center;
      justify-content: center;
      gap: 30px;
      transform: translateX(100vw);
      transition: 0.4s ease-out transform;
      &.show-mobile {
        transform: translateX(0vw);
      }

      a {
        width: 50vw;
        font-size: 2rem;
        box-shadow: 15px 15px 0 0 #000;
      }
    }

    .menu-mobile-icon {
      display: inherit;
      img {
        max-width: 50px;
      }
    }

    .close-menu-mobile {
      display: inherit;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 2rem;
      margin-top: 2rem;
    }

    .logo {
      font-size: 2rem;
      .show-on-hover {
        display: inline;
        font-weight: 400;
      }
    }
  }

  #sobre {
    padding-top: 162px;
    display: flex;
    justify-content: center;
    background-position: bottom center;
    background-size: 100%;
    .title-holder {
      padding: 0;
      justify-content: center;
      margin-left: 0;
    }
  }

  #experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-holder {
      margin-right: 0;
      margin-bottom: -14px;
      h1 {
        margin-top: 0;
        width: auto;
      }
    }
    .textbox {
      padding-left: 2rem;
    }
  }

  #projetos {
    flex-direction: column;
    align-items: center;
    background-position: bottom center;
    background-size: 100%;

    .icon-holder {
      margin-left: 0;
      .icon {
        margin-top: 0;
        margin-bottom: -15px;
      }
    }
  }

  #habilidades {
  }

  #contato {
    .contact-button-holder {
      flex-direction: column;
      gap: 32px;
    }

    .textbox {
      font-size: inherit;
      width: 40vw;
    }
  }

  footer {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 5vw;
  }

  section {
    padding: 10vw 3vw 10vw 2vw;
    scroll-margin-top: 16vw;
  }

  .textbox {
    width: 90vw;
    max-width: 90vw;
    font-size: 5vw;
    padding: 8vw;
  }

  .main-nav {
    .list-links {
      a {
        font-size: 5vw;
        color: $azul;
      }
    }

    .menu-mobile-icon {
      img {
        max-width: 8vw;
      }
    }

    .close-menu-mobile {
      img {
        max-width: 8vw;
      }
    }

    .logo {
      font-size: 6vw;
      .show-on-hover {
        display: inline;
        font-weight: 400;
      }
    }
  }

  #sobre {
    padding-top: 25vw;
    .title-holder {
      padding: 0;
      justify-content: center;
      margin-left: 0;
      h1 {
        font-size: 10vw;
        padding: 5vw;
        line-height: 5vw;
      }
    }
  }

  #experiencia {
    .title-holder {
      margin-right: 0;
      margin-bottom: -2vw;
      h1 {
        font-size: 6vw;
        padding: 2vw 4vw;
      }
    }

    .textbox {
      padding: 8vw;
    }

    h2 {
      font-size: 5vw;
    }
    p {
      font-size: 5vw;
    }

    ul {
      gap: 4vw;
    }
  }

  #projetos {
    flex-direction: column;
    align-items: center;
    background-position: bottom center;
    background-size: 100%;

    .icon-holder {
      margin-left: 0;
      .icon {
        font-size: 15vw;
        margin-top: 0;
        margin-bottom: -2vw;
        letter-spacing: 0px;
        padding-right: 5vw;
        padding-left: 5vw;
        text-align: center;
      }
    }

    h1 {
      font-size: 6vw;
      text-align: center;
      margin-bottom: 5vw;
    }

    h2 {
      font-size: 5vw;
    }

    ul {
      gap: 4vw;
    }
  }

  #habilidades {
    gap: 6vw;
    .title-holder {
      h1 {
        font-size: 6vw;
        width: auto;
        padding: 3vw 6vw;
      }
      gap: 10vw;
      text-align: center;
    }
  }

  #contato {
    gap: 8vw;
    h1 {
      font-size: 10vw;
    }
    .contact-button-holder {
      flex-direction: column;
      gap: 6vw;
    }

    .textbox {
      width: 100%;
      padding: 2vw 5vw;
      h2 {
        font-size: 5vw;
        text-align: center;
        color: $azul;
      }
      span {
        display: none;
      }
    }
  }

  footer {
    font-size: 4vw;
  }
}
